html {
    font-size: 62.5%;
}

body {
    font-family: "public sans", sans-serif;
    color: rgba(0, 0, 0, 1);

}

.exposicao-de-pinturas {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.colecao-das-pinturas {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
}

.colecao-das-pinturas .pintura {
    position: relative;
}

.colecao-das-pinturas .pintura .informacoes {
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.colecao-das-pinturas .pintura .informacoes .titulo {
    font-size: 3rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

.colecao-das-pinturas .pintura .informacoes .subtitulo {
    font-size: 1.5rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}